@use "./reset.scss";
@use "./variables.scss";
@use "./responsive.scss";

.galleries-list-container {
    margin-inline: 10%;

    a {
        text-decoration: underline;
        text-decoration-thickness: .1rem;
    }


    .galleries-list {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: .7rem;

        .gallery-item {
            font-family: "Lato", sans-serif;
            color: variables.$primary-text-color;
            font-weight: 300;
            font-size: 1rem;
            font-variant: small-caps;
            font-style: italic;

            &:hover {
                color: variables.$hover-text-color;
            }

            @include responsive.media-small-desktop-min {
                font-size: 1.2rem;
            }
            @include responsive.media-large-desktop-min {
                font-size: 1.5rem;
            }
        }

    }
}
